<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>Login</h1>
<form method="post" action="/login">
    <a href="/main/items" style="float:right;">
        <b>ГЛАВНАЯ </b>
    </a>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <label>Username: <input type="text" name="username"/></label><br/>
    <label>Password: <input type="password" name="password"/></label><br/>
    <input type="submit" value="Login"/>
</form>
</body>
</html>